<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Admin Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/server/revenue/">Doanh thu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/server/product/">Sản phẩm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/server/order">Đơn đặt hàng</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/server/bill">Hóa Đơn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/server/feedback/">Phản hồi khách hàng</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="/account/changePassword">Đổi mật khẩu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account/logout">Đăng xuất</a>
        </li>
      </ul>
    </div>
  </nav>
