<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Shop Quần Áo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/product">Sản phẩm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cart">Giỏ hàng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/feedBack">Phản hồi</a>
          </li>
          <% if(user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/historyBuy">Lịch sử mua hàng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/account/changePassword">Đổi mật khẩu</a>
          </li>
          <% }%>
          <% if(user===undefined) { %>
          <li class="nav-item">
            <a class="nav-link" href="/account/login">Đăng nhập</a>
          </li>
          <% }else{ %>
            <li class="nav-item">
              <a class="nav-link" href="/account/logout">Đăng xuất</a>            
            </li>
          <% }%>
        </ul>
      </div>
    </nav>
</header>

<!-- Modal xác nhận đăng xuất -->
<!-- <div class="modal fade" id="confirmLogoutModal" tabindex="-1" role="dialog" aria-labelledby="confirmLogoutModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmLogoutModalLabel">Xác nhận đăng xuất</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn đăng xuất không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <form method="POST" action="/account/logout">
          <button type="submit" class="btn btn-primary" id="confirmLogoutButton">Đăng xuất</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  var logoutButton = document.getElementById("logoutButton");
logoutButton.onclick = function() {
  $('#confirmLogoutModal').modal('show'); // Hiển thị modal xác nhận đăng xuất
};

</script> -->